h1{
    color: brown;
    font-family: verdana;
    font-size: 300%;
}
h2{
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
}
p{
    color: darkgreen;
    border: 2px solid powderblue;
    padding: 20px;
    margin: 20px;
}